<div class="content">
  <h3 class="title">{{ post.title }}</h3>

  <p class="excerpt">{{ post.lead_text }}</p>

  {% if post.github_link != empty %}
  <a href="{{ post.github_link }}" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>GitHub</button></a>
  {% endif %}
  {% if post.documentation_link != empty %}
  <a href="{{ post.documentation_link }}" class="project-link" target="{{ post.documentation_target | default: '_blank' }}">
    <button class="btn btn-default btn-lg"><i class="fa fa-book fa-lg"></i>Documentation</button>
  </a>
  {% endif %}
  {% if post.project_link != empty %}
  <a href="{{ post.project_link }}" class="project-link" target="_blank"><button class="btn btn-default btn-lg"><i class="fa fa-{{post.button_icon}} fa-lg"></i>{{post.button_text}}</button></a>
  {% endif %}

  {% if post.tags != empty %}
  <div class="tags">
    {% for tag in post.tags %}
    <span>{{ tag }}</span>
    {% endfor %}
  </div>
  {% endif %}

  <!-- {% if post.categories != empty %}
  <div class="categories">
    {% for category in post.categories %}
      <span>{{ category }}</span>
    {% endfor %}
  </div>
  {% endif %} -->
</div>
