{% include header.html %}

    <!--{% include home-hero.html %}-->

    <main id="portfolio">
      <div class="container">
        

            <div class="content-wrap">
            <div class="wow fadeIn">
            <div class="row">

              {% for post in paginator.posts %}

              <div class="col-xs-12 col-md-6">
                {% include post-content.html %}
              </div>

              {% endfor %}

            </div>
            </div>
            </div>

            {% include pagination.html %}

      </div>
    </main>

{% include footer.html %}
